<header>
    <div id="header">
        <div id="logo_text">
            <a href="/" style="text-decoration: none;">
                <img id="title-image" src="/uploads/images/Socialize.png" alt="Socialize">
            </a>
        </div>
        <% if(!locals.user){ %>
            <div>
                <a href="signin">SignIn</a>
                <p style="display: inline-block; color: #8206e8;">|</p>
                <a href="signup">SignUp</a>
            </div>
        <% } %>
        <% if(locals.user){ %>
            <div id="top-right-options">
                <a href="" id="search-button" data-userid="<%=user.id%>"><img src="https://img.icons8.com/nolan/64/search.png" alt=""></a>
                <a id="profile-page-text" href="/notifications/<%=user.id %>" class="notification" id="notification-toggle">
                    <span>Inbox</span>
                    <span class="badge"><%=no_of_notif%></span>
                </a>
                <a  id="profile-page-img" href="/notifications/<%=user.id %>" class="notification" id="notification-toggle">
                    <img src="https://img.icons8.com/nolan/64/appointment-reminders.png" alt="">
                    <span class="badge"><%=no_of_notif%></span>
                </a>
                <a id="profile-page-text" href="/users/profile/<%= user.id %>">Profile</a>
                <a id="profile-page-img" href="/users/profile/<%= user.id %>"><img src="https://img.icons8.com/nolan/64/user.png" alt=""></a>
            </div>
            <div id="notification-box">
                <h2>Notifications</h2>
            </div>


            <div id="search-box">
                <input type="text" placeholder="Search Socialize...">
                <div id="container">                    
                </div>
            </div>


        <% } %>
    </div>
    <audio src="/uploads/audio/notif.mp3" id="notif-sound">Bruh</audio>
</header>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.min.js"></script>
<script src="/js/notification.js"></script>


